[submodule "ruby/lang"]
	path = ruby/lang
	url = https://github.com/bbatsov/ruby-style-guide.git
[submodule "javascript/lang"]
	path = javascript/lang
	url = https://github.com/airbnb/javascript.git
[submodule "javascript/angular"]
	path = javascript/angular
	url = https://github.com/johnpapa/angular-styleguide.git
