[submodule "javascript/airbnb"]
	path = javascript/airbnb
	url = https://github.com/airbnb/javascript
[submodule "ruby/ruby-style-guide"]
	path = ruby/ruby-style-guide
	url = https://github.com/bbatsov/ruby-style-guide
